@import url(//io.vtex.com.br/fonts/fabriga/stylesheet.css);

body,button,input,optgroup,select,textarea,span,h1,h2,h3,h4,p1 {
  font-family: Fabriga,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif
}

html, body, #render-container, #render-provider {
  height: 100%;
}

.h-40px {
  height: 40px;
}

.bg-serious-black {
  background-color: #142032
}

.serious-black {
  color: #142032
}

/* Marine scale color pallete */


.light-marine {
	color: #567CB3;
}

.marine {
	color: #25364D;
}

.bg-marine {
	background-color: #25364D;
}

.b--marine {
	border-color: #25364D;
}

.dark-marine{
	color: #1C293A;
}

.b--dark-marine{
	border-color: #1C293A;
}

.bg-dark-marine{
	background-color: #1C293A;
}

.vtex-pink{
	color: #F71963;
}

.bg-vtex-pink{
	background-color: #F71963;
}

.b--vtex-pink{
	border-color: #F71963;
}

.tracked-tight-sm{
	letter-spacing: -0.2px;
}

.tag-vps{
	background-color: #F71963;
	color: white;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 8px;
}



.hljs{display:block;overflow-x:auto;padding:0.5em;background:#F0F0F0}.hljs,.hljs-subst{color:#444}.hljs-comment{color:#888888}.hljs-keyword,.hljs-attribute,.hljs-selector-tag,.hljs-meta-keyword,.hljs-doctag,.hljs-name{font-weight:bold}.hljs-type,.hljs-string,.hljs-number,.hljs-selector-id,.hljs-selector-class,.hljs-quote,.hljs-template-tag,.hljs-deletion{color:#880000}.hljs-title,.hljs-section{color:#880000;font-weight:bold}.hljs-regexp,.hljs-symbol,.hljs-variable,.hljs-template-variable,.hljs-link,.hljs-selector-attr,.hljs-selector-pseudo{color:#BC6060}.hljs-literal{color:#78A960}.hljs-built_in,.hljs-bullet,.hljs-code,.hljs-addition{color:#397300}.hljs-meta{color:#1f7199}.hljs-meta-string{color:#4d99bf}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}
